<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chatnachrichten</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <h1>Folgende Nachrichten in diesem Chat</h1>
    <table id="messagetable">
        <thead>
            <tr>
                <th>Nachrichten</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td><span th:text="${message.getUser().getUsername()}"></span>:</td>
                <td><span th:text="${message.content}"></span></td>
            </tr>
            <div id="message-area"></div>
        </tbody>
    </table>
    <script th:inline="javascript">
        var socket = new SockJS('/mywebsocket');
        var stompClient = Stomp.over(socket);
        var myuser =  /*[[${username}]]*/;
        var chatId = [[${chatnumber}]];
        var accessKey = /*[[${accesskey}]]*/;
      
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
      
            let source = `/incomingchats/chatmessages/${accessKey}`;
            stompClient.subscribe(source,   
       function(message) {
                
                let table = document.getElementById("messagetable").getElementsByTagName('tbody')[0];
                
                console.log("Message content"+message.body);
                let myformattedmessage = JSON.parse(message.body);
                let newRow = table.insertRow();
                let senderColumn = newRow.insertCell(0); // First column
                let messageColumn = newRow.insertCell(1); // Second column

                senderColumn.textContent = myformattedmessage.user;
                messageColumn.textContent = myformattedmessage.message;
            });
        });

        function sendMessage() {
            let usermessage = document.getElementById("usermessage").value;

            // Leere Eingaben verhindern
            if (!usermessage.trim()) {
                alert("Nachricht darf nicht leer sein!");
                return;
            }

            // Erstelle die Nachricht entsprechend der Serverlogik
            let chatMessage = {
                content: JSON.stringify({user:myuser,Chat: chatId,message: usermessage }), // Text der Nachricht
                type: "received"      // Setze den Typ auf "received", da sie vom Client gesendet wird
            };

            let destination = `/outgoingchats/chatmessages/${accessKey}`;
            // Nachricht senden
            stompClient.send(destination, {}, JSON.stringify(chatMessage));

            // Eingabefeld zurücksetzen
            document.getElementById("usermessage").value = "";
        }
      </script>
      <input type="text" id="usermessage"></input>
      <button onclick="sendMessage()">Send Message</button>
</body>
</html>