<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chatnachrichten</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <h1>Folgende Nachrichten in diesem Chat</h1>
    <table id="messagetable">
        <thead>
            <tr>
                <th>Nachrichten</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td><span th:text="${message.getUser().getUsername()}"></span>:</td>
                <td><span th:text="${message.content}"></span></td>
            </tr>
            <div id="message-area"></div>
        </tbody>
    </table>
    <script th:inline="javascript">
        var socket = new SockJS('/mywebsocket');
        var stompClient = Stomp.over(socket);
        var myuser =  /*[[${username}]]*/;
        var chatId = [[${chatnumber}]];
      
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
      
            stompClient.subscribe('/incomingchats/chatmessages',   
       function(message) {
                
                let table = document.getElementById("messagetable").getElementsByTagName('tbody')[0];
                let mymessage = JSON.parse(message.body);
                let newRow = table.insertRow();
                let senderColumn = newRow.insertCell(0); // First column
                let messageColumn = newRow.insertCell(1); // Second column

                senderColumn.textContent = mymessage.user;
                messageColumn.textContent = mymessage.message;
            });
        });

        function sendMessage() {
            let usermessage= document.getElementById("usermessage").value;
        stompClient.send("/outgoingchats/chatmessages", {}, JSON.stringify({user:myuser,Chat: chatId,message: usermessage }));
}
      </script>
      <input type="text" id="usermessage"></input>
      <button onclick="sendMessage()">Send Message</button>
</body>
</html>