<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div id="message-area"></div>

    <script>
        var socket = new SockJS('/mywebsocket');
        var stompClient = Stomp.over(socket);
      
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
      
            stompClient.subscribe('/topic/greetings',   
       function(message) {
                console.log(message.body);   
      
                // Update your view's DOM with the received message
                document.getElementById('message-area').textContent = message.body;
            });
        });

        function sendMessage() {
            let user= document.getElementById("user").value;
    stompClient.send("/app/hello", {}, JSON.stringify({ name: user }));
}
      </script>
      <input type="text" id="user"></input>
      <button onclick="sendMessage()">Send Message</button>
</form>
</body>
</html>